/* Header */
header {
  width: 100%;
  min-height: 400px;
  padding-top: 3em;
}

#home header {
  background: no-repeat lightgray url(images/cliff_ocean.jpg);
  background-size: 100%; /* if 1500px - the image will not full fill the background */
}

#activities header {
  background: no-repeat lightgray url(images/runfly.jpeg) 0 -220px;
  background-size: 100%; /* if 1500px - the image will not full fill the background */
}

#contact header {
  background: no-repeat lightgray url(images/cliff_rock.jpeg);
  background-size: 100%; /* if 1500px - the image will not full fill the background */
}

#cliffs header {
  background: no-repeat lightgray url(images/forest_cliff.jpeg);
  background-size: 100%; /* if 1500px - the image will not full fill the background */
}

.main-header {
  background-color: rgb(255, 255, 255, 0.8);
  width: 700px;
  margin: 2em auto 0 auto;
  min-height: 100px;
  height: 100px;
}

.main-header .logo img {
  width: 100px;
  height: 100px;
  margin: 0 2em 0 0;
  float: left;
}

/* Navigation */
.main-menu {
  margin-left: 226px; /* if 227px - last li will be pushed to next line */
  font-weight: 400;
}

.main-menu ul li {
  list-style-type: none;
  display: inline-block;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid rgba(202, 204, 202, 0.6);
  line-height: 100px;
  text-transform: uppercase;
  font-size: 14px;
}

.main-menu ul li a {
  text-decoration: none;
  color: #888;
}

.main-menu ul li a:hover {
  color: #9ed034;
}

.main-menu ul li.active {
  background: #9ed034;
  border: none;
}

.main-menu ul li.active a {
  color: #fff;
}

/* Universal Main */
main {
  padding: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

main h1 {
  color: #9ed034;
  font-size: 43px;
}

#timeofday {
  font-family: Arial, Helvetica, sans-serif;
  color: #3a3a3a;
  background: linear-gradient(0deg, rgba(251, 215, 139, 1) 0%, rgba(118, 213, 245, 1) 100%);
  text-align: center;
  padding: 25px 0;
}

#clock {
  color: #125688;
}

/* Home Pgae Main */
.home-main h3 {
  font-weight: 900;
  font-size: 29px;
}

.home-main p {
  max-width: 1250px;
}

/* Partners */
section {
  width: 100%;
  background-color: #4288c3;
}

section #partners {
  width: 1200px;
  padding: 2em 0 2em 0;
  margin: 0 auto;
  text-align: center;
}

section #partners .partner {
  display: inline-block;
  margin: 0 0.75em;
  padding: 1.3em 1.5em;
  background-color: #fff;
  border-radius: 50%;
}

section #partners .partner img {
  width: 90px;
  height: 90px;
}

/* Footer */
footer {
  width: 100%;
  height: 155px;
  padding-bottom: 1em;
  background-color: #ecfab8;
}

footer #nondisclaimer .copy {
  padding: 3.5em 3.5em 3.5em 13em;
  float: left;
  font-size: 0.9em;
}

footer #nondisclaimer .social {
  padding: 2.5em;
  margin-right: 9.25em;
  float: right;
}

footer #disclaimer {
  clear: both;
}

footer #disclaimer p {
  font-size: 0.85em;
  text-align: center;
}

footer #nondisclaimer .social .fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 50%;
}

footer #nondisclaimer .social .fa:hover {
  opacity: 0.7;
}

footer #nondisclaimer .social .fa-facebook {
  background: #3b5998;
  color: white;
}

footer #nondisclaimer .social .fa-twitter {
  background: #55acee;
  color: white;
}

footer #nondisclaimer .social .fa-instagram {
  background: #125688;
  color: white;
}

/* Activities Page Main */
table {
  width: 1000px;
  margin: 4em auto 0 auto;
}

caption {
  background: #852b1b;
  height: 40px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1em;
}

thead {
  background-color: #bde1ff;
}

tbody {
  background: #eeffe6;
  text-align: center;
}

th,
td {
  width: 225px;
  height: 75px;
  vertical-align: middle;
  border: solid 1px #852b1b;
}

th:first-child {
  width: 125px;
  height: 50px;
  background: #4977d1;
  color: #fff;
}

td:first-child {
  font-weight: bold;
  background: #bde1ff;
}

.activitiesCell {
  background-color: greenyellow;
  font-weight: bold;
  color: white;
}

/* Contact Page Main */
.contactinfo {
  margin-top: 30px;
}

.phone,
.email {
  margin-bottom: 20px;
}

.phone span:first-child,
.email span:first-child {
  font-weight: 700;
}

#contact fieldset {
  border: 2px solid #9ed034;
  padding: 40px;
}

#contact legend {
  font-weight: 700;
  color: #4288c3;
  text-transform: uppercase;
}

#contact form label {
  font-weight: 700;
}

#contact .textbox {
  margin-bottom: 10px;
}

#contact .textbox label {
  display: block;
}

#contact .textbox input {
  margin-bottom: 10px;
  width: 500px;
  height: 20px;
}

#contact .radios,
#contact .selectmenu,
#contact .commentbox {
  margin-bottom: 20px;
}

#contact .selectmenu select {
  width: 170px;
  text-align: center;
}

#contact .commentbox textarea {
  display: block;
  width: 500px;
  height: 250px;
}

#contact .button {
  display: flex;
  width: 506px;
  justify-content: right;
}

#contact .button input {
  /* background: #4977d1; */
  color: #fff;
  width: 130px;
  height: 35px;
  border: none;
  font-weight: 700;
  font-size: 14px;
}

#contact .randomcode {
  display: flex;
  justify-content: right;
  width: 506px;
  margin-bottom: 10px;
}

#contact .randomcode input {
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

#contact .randomcode #codes {
  margin: 0;
  background: rgb(168, 168, 168);
  padding: 15px 10px 15px 10px;
}

/* Cliffs Page */
.cliffs-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

.cliffs-first-row {
  margin-bottom: 40px;
}

.cliffs-first-row,
.cliffs-second-row {
  display: flex;
}

.cliffs-first-row img,
.cliffs-second-row img {
  height: 300px;
  width: 500px;
}

.cliffs-first-row div > div,
.cliffs-second-row div > div {
  text-align: center;
  background-color: #852b1b;
  color: white;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cliffs-first-row > div,
.cliffs-second-row > div {
  margin-right: 50px;
}